<!-- Main Wrapper -->

</div>
</div>
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<!-- Portfolio -->
					<section>
						<header class="major">
							<h2>Resumes</h2>
						</header>
						<div>
							<div class="row">
								<% @templates.each_with_index do |template,index| %>
									<div class="4u">
										<section class="box">
											<a href="<%=template_path(template)%>" class="image image-full">
												<%= image_tag template.main_image.url(:medium),:width=>'373',:height=>'232'%>
												<!-- <img src="/assets/pic02.jpg" alt="" /> --></a>
											<header>
												<h3><%= template.name %></h3>
											</header>
											<p id='description'><%=template.short_description%></p>
											<p>
												<%='$' +''+ template.price.to_s %></p>
												<p>Tags: <%=  raw template.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
												<p>
												<div class="addthis_toolbox addthis_default_style ">
													<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
												</div> 
											  </p>
										</section>
									</div>
								<%end%>	
							</div>
					  </div>
						
						
					</section>

			</div>
		</div>
	</div>
</div>

