
<div class="row">
	<div class="12u">
		<!-- Banner -->
				<% i = 0 %>
				<div>
					<div class="row">
				<% @orders.each_with_index do |order,index| %>
           <div class="4u">
							<section class="box">
           <% if index == i %>
            
			          <%=(i+1).to_s + " " + "Order Status :" %> <br/>
								  Order Status :<%= order.status%><br/>
								  Template Total Price : <%= order.total_price%></br>
								  Template Name : <%= order.template_name%></br>
								  Template price : <%= order.template_price%></br>
								  Completion Day : <%= order.complete_day%></br>
								  Completion Day Price : <%= order.complete_day_price%></br>
								  Number Of Page : <%= order.number_of_page%></br>
								  Page Price : <%= order.page_price%></br>
								  Template Color : <%= order.color%></br>
								  Template Color Price : <%= order.color_price%></br>
							    <%i = i+1%>
						  <%end%>
						  </section>
        		</div>
						<%end%>
			    </div>
			   </div>
	</div>
</div>
</div>
</div>